<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.AccountsMapper">
    <insert id="saveAccounts" parameterType="accounts">
        insert into accounts(aid,aname,acontent)
        values(#{aId},#{aName},#{aContent})
    </insert>
</mapper>